body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#img-preview {
    width: 100%;
}

#preview p {
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: #FFFFFF;
    width: 100%;
    left: 0px;
}

ul.imgs {
    margin-top: 20px;
}

li {
    list-style: none;
}
ul.imgs img {
    width: 100%;
}

@media (min-width: 992px) {
  .modal-dialog {
    width: 900px;
  }
}
